.dockerignore
Dockerfile
node_modules
node_modules/*
npm-debug.log
.git
.gitignore
README.md
commands.yaml
.env.rar
.env.zip
.env.sample
docker-compose.yml
logs/*
.nyc_output/*
.coverage/*
docs/*
test.env
dump.rdb
yarn.lock